<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid text-center">
    <h1>The Movie Database</h1>
    <h4>endpoints test:</h4><br/>
    <a class="h4 mr-3" th:href="@{/top_rated}">Top rated movies</a><br/>
    <a class="h4 mr-3" th:href="@{/popular}">Most popular movies</a><br/>
    <a class="h4 mr-3" th:href="@{/upcoming}">Upcoming movies</a><br/>
    <a class="h4 mr-3" th:href="@{/now_playing}">Now playing movies</a>
</div>
</body>
</html>